
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
}

.nav-item{
    padding: 0px 30px;
}
.nav-item >ul{
    display: flex;
   
}

.nav-item >ul > li{
    margin:  5px 10px;
    padding: 5px 10px;
    list-style: none;
    font-size: 24px;
    text-decoration: none;
}

.nav-item > ul > li a {
  font-size: 24px;
  text-decoration: none;
  color: inherit; /* or specify the desired text color */
}

.login-btn{
    margin:  5px 10px;
    padding: 5px 10px;
    width:75px;
    cursor: pointer;
    background-color: rgb(78, 247, 78);
    color: white;
}
.login-btn-danger{
    margin:  5px 10px;
    padding: 5px 10px;
    width:75px;
    cursor: pointer;
    background-color: rgb(238, 25, 25);
    color: white;
}

.logo{
    width: 70px;
    height: auto;
    border-radius: 50%;
    margin:  5px 10px;
    padding: 5px 10px;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;

    
}

.searchAndFilter{
    display: flex;
    flex-direction: row;
}

.user-card{
    padding: 10px;
    width: 250px;
border: 1px solid  black;
}
/* body */


.res-container{
    display:flex ;
    flex-wrap: wrap;
    justify-content: center;
}
.res-card{
    width:250px;
   margin: 10px;
    padding: 5px; 
    border-radius: 5px;
    background-color: #f1f1f1;
    color: inherit;
    box-shadow: 1px 2px 4px rgb(173, 171, 171);
}


.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.res-logo{
    width:100%;
    height:150px;
}

.cuisines{
    text-align: start;
}


